* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(218, 134, 134),
    rgb(165, 144, 144)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 30px;
}

section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: none;
}

#tasks-display {
  display: flex;
  flex-direction: column;
}

/* #input {
} */

#input-container {
  border: 2px solid black;
  height: 200px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task {
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  width: 90%;
  align-items: center;
  padding: 1rem;
  margin-top: 0.25rem;
}

.task-info {
  display: flex;
  flex-direction: row;
}
